@model CRUD_MVC.Models.Domain.Category






<div class="container bg-secondary bg-opacity-10 py-4">


    <h1 class="text-center">Remove Categories</h1>

</div>


<div class="container">

    <form method="post">

        <div class="mb-3">
            <label class=" lb col-form-label ">Title</label>
            <input class="form-control" asp-for="category" disabled />
        </div>



        <div class="mb-3">
            <button class="btn btn-dark">Delete Category</button>
        </div>

    </form>




</div>

